<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">

    <title>Proffy</title>
    <link rel="shortcut icon" href="./public/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="./public/styles/main.css">
    <link rel="stylesheet" href="./public/styles/partials/header.css">
    <link rel="stylesheet" href="./public/styles/partials/forms.css">
    <link rel="stylesheet" href="./public/styles/partials/page-give-classes.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <script src="./public/scripts/addField.js" defer></script>
</head>

<body id="page-give-classes">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="./index.html">
                    <img src="./public/images/icons/back.svg" alt="back">
                </a>
                <img src="./public/images/logo.svg" alt="Proffy">
            </div>
            <div class="header-content">
                <strong>Que aulas incríveis você quer dar?</strong>
                <p>O primeiro passo, é preencher esse formulário de inscrição.</p>
            </div>
        </header>

        <main>
            <form action="" id="create-class">
                <fieldset>
                    <legend>Seus Dados</legend>

                    <div class="input-block">
                        <label for="name">Nome Completo</label>
                        <input name="name" id="name" required>
                    </div>
                    <div class="input-block">
                        <label for="avatar">Link da Sua Foto <small>(comece com http://)</small></label>
                        <input name="avatar" id="avatar" type="url" required>
                    </div>
                    <div class="input-block">
                        <label for="whatsapp">Whatsapp <small>(somente números)</small></label>
                        <input name="whatsapp" id="whatsapp" type="number" required>
                    </div>
                    <div class="textarea-block">
                        <label for="bio">Biografia</label>
                        <textarea name="bio" id="bio" required></textarea>
                    </div>

                </fieldset>

                <fieldset>
                    <legend>Sobre a Aula</legend>
                    <div class="select-block">
                        <label for="subject">Matérias</label>
                        <select name="subject" id="subject" required>
                            <option value="">Selecione uma Opção</option>

                            <!-- {%for subject in subjects %}
                            <option value="{{loop.index}}">
                                {{subject}}
                            </option>
                            {%endfor%} -->

                            <option value="">Administração</option>
                            <option value="">Artes</option>
                            <option value="">Biologia</option>
                            <option value="">Ciências</option>
                            <option value="">Educação Física</option>
                            <option value="">Engenharias</option>
                            <option value="">Física</option>
                            <option value="">Geografia</option>
                            <option value="">História</option>
                            <option value="">Matemática</option>
                            <option value="">Português</option>
                            <option value="">Programação</option>

                        </select>
                    </div>
                    <div class="input-block">
                        <label for="cost">Custo da sua Aula/Hora <small>(R$)</small></label>
                        <input name="cost" type="cost" id="cost" type="number" required>
                    </div>
                </fieldset>

                <fieldset id="schedule-items">
                    <legend>Horários disponíveis
                        <button type="button" id="add-time">+ Novo Horário</button>
                    </legend>

                    <div class="schedule-item">
                        <div class="select-block">
                            <label for="weekday">Dia da Semana</label>
                            <select name="weekday[]" required>
                                <option value="">Selecione uma opção</option>

                                <!-- {%for weekday in weekdays %}
                                <option value="{{loop.index}}">
                                    {{weekday}}
                                </option>
                                {%endfor%} -->

                                <option value="">Domingo</option>
                                <option value="">Segunda-Feira</option>
                                <option value="">Terça-Feira</option>
                                <option value="">Quarta-Feira</option>
                                <option value="">Quinta-Feira</option>
                                <option value="">Sexta-Feira</option>
                                <option value="">Sábado</option>

                            </select>
                        </div>

                        <div class="input-block">
                            <label for="time_from">Das</label>
                            <input type="time" name="time_from[]" required>
                        </div>
                        <div class="input-block">
                            <label for="time_to">Até</label>
                            <input type="time" name="time_to[]" required>
                        </div>
                    </div>

                </fieldset>
            </form>

            <footer>
                <p>
                    <img src="./public/images/icons/warning.svg" alt="warning">
                    Importante! <br>
                    Preencha todos os dados.
                </p>
                <button type="submit" form="create-class">Salvar Cadastro</button>
            </footer>
        </main>
    </div>

</body>

</html>