<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">

    <title>Proffy</title>
    <link rel="shortcut icon" href="../../public/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href="../../public/styles/partials/header.css">
    <link rel="stylesheet" href="../../public/styles/partials/forms.css">
    <link rel="stylesheet" href="../../public/styles/partials/page-study.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>

<body id="page-study">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="./index.html">
                    <img src="../../public/images/icons/back.svg" alt="back">
                </a>
                <img src="../../public/images/logo.svg" alt="Proffy">
            </div>
            <div class="header-content">
                <strong>Esses são os Proffys disponíveis</strong>
                <form id="search-teachers">
                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        <select name="subject" id="subject">
                            <option value="" disabled="" hidden="">Selecione uma opção</option>

                            <!-- {%for subject in subjects %}
                            <option value="{{loop.index}}" {{ "selected" if filters.subject==loop.index}}>
                                {{subject}}
                            </option>
                            {%endfor%} -->

                            <option value="">Administração</option>
                            <option value="">Artes</option>
                            <option value="">Biologia</option>
                            <option value="">Ciências</option>
                            <option value="">Educação Física</option>
                            <option value="">Engenharias</option>
                            <option value="">Física</option>
                            <option value="">Geografia</option>
                            <option value="">História</option>
                            <option value="">Matemática</option>
                            <option value="">Português</option>
                            <option value="" selected>Programação</option>

                        </select>
                    </div>
                    <div class="select-block">
                        <label for="subject">Dia da Semana</label>
                        <select name="weekday" id="weekday">
                            <option value="" disabled="" hidden="">Selecione uma opção</option>

                            <!-- {%for weekday in weekdays %}
                            <option value="{{loop.index}}" {{ "selected" if filters.weekday==loop.index}}>
                                {{weekday}}
                            </option>
                            {%endfor%} -->

                            <option value="">Domingo</option>
                            <option value="" selected>Segunda-Feira</option>
                            <option value="">Terça-Feira</option>
                            <option value="">Quarta-Feira</option>
                            <option value="">Quinta-Feira</option>
                            <option value="">Sexta-Feira</option>
                            <option value="">Sábado</option>

                        </select>
                    </div>
                    <div class="input-block">
                        <label for="time">Horário</label>
                        <input name="time" id="time" type="time" value="{{filters.time}}">
                    </div>
                    <button type="submit">Filtrar</button>
                </form>
            </div>
        </header>

        <main>

            <!-- {%for proffy in proffys %} -->
            <article class="teacher-item">
                <header>
                    <!-- <img src="{{proffy.avatar}}" alt="{{proffy.name}}"> -->
                    <img src="https://avatars2.githubusercontent.com/u/65103163?s=460&u=524b27239b2c99eaa44e175c0791bd220a871bd7&v=4" alt="Edssaac">
                    <div>
                        <!-- <strong>{{proffy.name}}</strong> -->
                        <!-- <span>{{proffy.subject}}</span> -->
                        <strong>Edssac</strong>
                        <span>Programação</span>
                    </div>
                </header>
                <p>
                    <!-- {{proffy.bio}} -->
                    Venha aprender programação e transforme linhas em vidas!
                </p>
                <footer>
                    <!-- <p>Preço/Hora<strong>R$ {{proffy.cost}}</strong></p> -->
                    <p>Preço/Hora<strong>R$ 15,00</strong></p>
                    <a href="https://api.whatsapp.com/send?l=pt_BR&phone=5515996335293&text=Tenho interesse em sua aula de Programação, Edssaac."
                        class="button" target="_blanck">
                        <img src="../../public/images/icons/whatsapp.svg" alt="Whatsapp">Contato
                    </a>
                </footer>
            </article>
            <!-- {%endfor%} -->

        </main>

    </div>

</body>

</html>